body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/Misc/desert_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'PlayChickens';
    src: url('../fonts/Play\ Chickens.ttf') format('truetype');
}  

#portrait-warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.959);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    text-align: center;
}

.imprint{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-left: 20px;
}

p{
    font-size: 16px;
    font-family: 'PlayChickens';
}

h3 {
    font-size: 24px;
    font-family: 'PlayChickens';
}

#legalNotice {
    font-size: 20px;
    font-family: 'PlayChickens', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: black;
    background-color: #f19f1f;
    padding: 8px;
    border-radius: 20px;
    border-color: #e57640;
    margin: 36px 0px 8px 0px;
}

#legalNotice:hover {
    cursor: pointer;
    font-size: 21px;
    box-shadow: 0 0 5px 6px rgb(225 117 24 / 46%);
}